<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="icon" type="image/gif" href="/favicon.ico">
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add New User</a> | 
			<a href="/users">All Users List</a>
		</div>	
		<h1><%= title %></h1>
